{% load staticfiles%}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SDUDE coursepage</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    
    <link href="{% static 'css/main_style.css' %}" rel="stylesheet">
    <link href="{% static 'css/window_ass.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-chosen.css' %}" rel="stylesheet" />

</head>
  
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#">SDUDE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
            <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link" href="#" ><img src="{% static 'img/logos/settings.png' %}"></a>
              <div class="dropdown-content">
              <a href="#">change password</a>
              <a href="#">notifications</a>
              <a href="/logout">log out</a>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <form>
          <select class="chosen-select" style="width:250px;" onchange="location = this.options[this.selectedIndex].value;">
            {% for course in course_list %}
            <option value="/courses/{{ course.id }}">{{ course.name }}</option>
            {% endfor %}
          </select>
        </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container-full">
      <div class="row">
        <div class="col-md-8">
           <div class="my-4" >
            <p></p><br>
               <div id="main" class="container" >
               <div class="row">
           </div>
        </div>
      <!-- ADD exams -->

      <div class="btn-group">

          <button class="btn"  id="add_syl">Add Syllabus</button>
          <button class="btn"  id="add_ass">Add Assignment</button>
          <button class="btn"  id="add_quiz">Add Quiz</button>  
          <button class="btn"  id="add_mid">Add Midterm</button>
          <button class="btn"  id="add_fin">Add Final</button>
          <button class="btn"  id="add_feed">Add FeedBack</button>  
          
<!-- add menu javascript -->
<!--   syllabus javascript-->  
       <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
            <div id="syllabuses">

                                                         <h1>Syllabus</h1>

                    <!-- <select class="chosen-teacher" style="width: 200px;" >
                      {% for prof in prof_list %}
                        <option >{{ prof.name }}</option>
                      {% endfor %}
                    </select> -->
                    {%  csrf_token  %}
                    <div id="exam">         {{ form.exam_type|attr:"value:1"}} </div>
                    {{ form.professor }}
                    {{ form.file }}

            <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
            <p class="cancel" type="submit" style="vertical-align:middle"><span>cancel</span></p>
              
            </div>  
        </form>
<!--   assignment javascript-->  

        <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
            <div id="assignments">

                                                         <h1>Assignment</h1>

                    <!-- <select class="chosen-teacher" style="width: 200px;" >
                      {% for prof in prof_list %}
                        <option >{{ prof.name }}</option>
                      {% endfor %}
                    </select> -->
                    {%  csrf_token  %}
                    <div id="exam">         {{ form.exam_type|attr:"value:2"}} </div>
                    {{ form.professor }}
                    {{ form.file }}

            <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
            <p class="cancel" type="submit" style="vertical-align:middle"><span>cancel</span></p>
              
            </div>  
        </form>

<!--   quiz javascript-->  
        <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="quizes">

                                                           <h1>Quiz</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:3"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
              <p class="cancel" type="submit" style="vertical-align:middle"><span>cancel</span></p>
                
              </div>  
          </form>
          
  <!--   midterm javascript-->  

          <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="midterms">

                                                           <h1>MidTerm</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:4"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
              <p class="cancel" type="submit" style="vertical-align:middle"><span>cancel</span></p>
                
              </div>  
          </form>
  <!--   final javascript-->  

          <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="finals">

                                                           <h1>Final</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:5"|add_class:"hidden_exam"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
              <p class="cancel" type="submit" style="vertical-align:middle"><span>cancel</span></p>
                
              </div>  
          </form>
  <!--   feedback javascript-->  

          <form method="post" action="/courses/{{ course_id }}/">
              <div id="feedbacks">

                                                          <h1>FeedBack</h1>

                    {%  csrf_token  %}
                    <p style="margin:0;display:inline;float:left; position: absolute; left: 20px; color: #fff;"> Professor: {{ feedback_form.professor }} </p>
                    <p style="margin:0;display:inline;float:center; position: absolute; right: 100px; color: #fff;"> Grade: {{ feedback_form.grade }} </p>
                    
                    <textarea rows="4" cols="50" form="usrform" style="position: absolute; left: 20px; top:80px;  width: 90%; height: 40%; text-align: left; background-color: #fff; color: #000" placeholder="Write your feedback about this course"  {{ feedback_form.content }} ></textarea>

                    <button id="create" type="submit" name="submit" value="Add Feedback" style="position: absolute;top: 70%; right: 5%;background-color: #fff; color: #000; width: 15%; height: 12%;"><span>Add</span></button>
                            <p class="cancel" type="submit" style="vertical-align:middle; position: absolute;top: 70%; right: 25%; width: 15%; height: 12%;"><span>cancel</span></p>  
              </div>  
          </form>
          

<!-- end ADD exam-->

      </div>
    </div> 

          <h1 style="top:20px;">Subject Name</h1>

    <div class="card mb-4" >
      <div class="btn-group">
            <button class="button" onclick="first()" >Syllabus</button>
            <button class="button" onclick="second()">Assignment</button>
            <button class="button" onclick="three()">Quiz</button>  
            <button class="button" onclick="four()" >Midterm</button>
            <button class="button" onclick="five()">Final</button>
            <button class="button" onclick="six()">FeedBack</button>  
      </div>   
      <div class="card-body">
              <h2 class="card-title" id="title">Click on any tab to view resources</h2>
                  <div id="myfirst">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 1 %}
                          name: {{ exam.course.name }} <br>
                          file_name: {{ exam.file.name }} <br>
                          created_at: {{ exam.created_at | timesince}} ago <br><br>
                        {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mysecond">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 2 %}
                          type: {{ exam.exam_type }}
                          name: {{ exam.course.name }} <br>
                          file_name: {{ exam.file.name }} <br>
                          created_at: {{ exam.created_at | timesince}} ago <br><br>
                        {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mythree">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 3 %}
                            type: {{ exam.exam_type }}
                            name: {{ exam.course.name }} <br>
                            file_name: {{ exam.file.name }} <br>
                            created_at: {{ exam.created_at | timesince}} ago <br><br>
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="myfour">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 4 %}
                            type: {{ exam.exam_type }}
                            name: {{ exam.course.name }} <br>
                            file_name: {{ exam.file.name }} <br>
                            created_at: {{ exam.created_at | timesince}} ago <br><br>
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="myfive">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 5 %}
                            type: {{ exam.exam_type }}
                            name: {{ exam.course.name }} <br>
                            file_name: {{ exam.file.name }} <br>
                            created_at: {{ exam.created_at | timesince}} ago <br><br>
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mysix">
                      {% for feedback in feedback_list %}
                      name: {{ feedback.course.name }} <br>
                      content: {{ feedback.content }} <br>
                      grade: {{ feedback.grade }} <br>
                      created_at: {{ feedback.created_at | timesince}} ago <br>
                      <br>
                      {% endfor %}
                  </div>
                </div>
                <div class="card-footer text-muted">Posted on January 1, 2017 by</div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

    <!-- Footer -->
          <footer class="py-5 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Kaskelen 2018 &copy; sdude.org</p>
            </div>
            <!-- /.container -->
          </footer>


    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <script src="{% static 'js/agency.min.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.js" ></script>
    <script src="{% static 'js/course_js.js'%}" ></script>

  </body>
</html>