{% extends 'base.html' %}
{% block content %}
{% load staticfiles%}
{% load widget_tweaks %}



      <link href="{% static 'css/window_ass.css' %}" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  button add bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <!-- Page Content -->
    <div class="container">
      
      <!-- ADD exams -->

  <div class="btn-group btn-group-justified" style=" width: 75%; left:13%; height: 40px; top:60px;" id="add_button">
          <a class="enviaPedido btn btn-sm"  id="add_syl">
            <span class="visible-xs-block">Add<br>Syllabus</span>
            <span class="hidden-xs">Add Syllabus</span></a>
          <a class="enviaPedido btn btn-sm"  id="add_ass">
            <span class="visible-xs-block">Add<br>Assignment</span>
            <span class="hidden-xs">Add Assignment</span></a>
          <a class="enviaPedido btn btn-sm"  id="add_quiz">
            <span class="visible-xs-block">Add<br>Quiz</span>
            <span class="hidden-xs">Add Quiz</span></a>
          <a class="enviaPedido btn btn-sm"  id="add_mid">
            <span class="visible-xs-block">Add<br>Mid</span>
            <span class="hidden-xs">Add Mid</span></a>
          <a class="enviaPedido btn btn-sm"  id="add_fin">
            <span class="visible-xs-block">Add<br>Final</span>
            <span class="hidden-xs">Add Final</span></a>
          <a class="enviaPedido btn btn-sm"  id="add_feed">
            <span class="visible-xs-block">Add<br>FeedBack</span>
            <span class="hidden-xs">Add FeedBack</span></a>

  </div> 
            <h1 style="margin-top: 80px; margin-left: 150px;">Subject Name</h1>

          
<!-- add menu javascript -->
<!--   syllabus javascript-->  
       <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
            <div id="syllabuses">

                                                         <h1>Syllabus</h1>

                    <!-- <select class="chosen-teacher" style="width: 200px;"  >
                      {% for prof in prof_list %}
                        <option value="{{ form.professor.value }}}">{{ prof.name }}</option>
                      {% endfor %}
                    </select> -->
                    {%  csrf_token  %}
                    <div id="exam">         {{ form.exam_type|attr:"value:1"}} </div>
                    {{ form.professor }}
                    {{ form.file }}
                    {{ form.year }}
                    {{ form.semester }}


            <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
<p class="cancel" >cancel</p>                
            </div>  
        </form>
<!--   assignment javascript-->  

        <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
            <div id="assignments">

                                                         <h1>Assignment</h1>

                    <!-- <select class="chosen-teacher" style="width: 200px;" >
                      {% for prof in prof_list %}
                        <option >{{ prof.name }}</option>
                      {% endfor %}
                    </select> -->
                    {%  csrf_token  %}
                    <div id="exam">         {{ form.exam_type|attr:"value:2"}} </div>
                    {{ form.professor }}
                    {{ form.file }}

            <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
<p class="cancel" >cancel</p>                
            </div>  
        </form>

<!--   quiz javascript-->  
        <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="quizes">

                                                           <h1>Quiz</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:3"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
<p class="cancel" >cancel</p>                  
              </div>  
          </form>
          
  <!--   midterm javascript-->  

          <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="midterms">

                                                           <h1>MidTerm</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:4"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
<p class="cancel" >cancel</p>                  
              </div>  
          </form>
  <!--   final javascript-->  

          <form id="post_form" method="post" action="/courses/{{ course_id }}/" enctype="multipart/form-data"> 
              <div id="finals">

                                                           <h1>Final</h1>

                      <!-- <select class="chosen-teacher" style="width: 200px;" >
                        {% for prof in prof_list %}
                          <option >{{ prof.name }}</option>
                        {% endfor %}
                      </select> -->
                      {%  csrf_token  %}
                      <div id="exam">         {{ form.exam_type|attr:"value:5"|add_class:"hidden_exam"}} </div>
                      {{ form.professor }}
                      {{ form.file }}

              <button id="create" type="submit" name="submit" value="Create Post" style="vertical-align:middle"><span>add</span></button>
              <p class="cancel" >cancel</p>                  
              </div>  
          </form>
  <!--   feedback javascript-->  

          <form method="post" action="/courses/{{ course_id }}/">
              <div id="feedbacks">

                                                          <h1>FeedBack</h1>

                    {%  csrf_token  %}
                    <p style="margin:0;display:inline;float:left; position: absolute; left: 20px; color: #fff;"> Professor: {{ feedback_form.professor }} </p>
                    <p style="margin:0;display:inline;float:center; position: absolute; right: 100px; color: #fff;"> Grade: {{ feedback_form.grade }} </p>
                    
                    <textarea rows="4" cols="50" form="usrform" style="position: absolute; left: 20px; top:80px;  width: 90%; height: 40%; text-align: left; background-color: #fff; color: #000" placeholder="Write your feedback about this course"  {{ feedback_form.content }} ></textarea>

                    <button id="create" type="submit" name="submit" value="Add Feedback" style="position: absolute;top: 70%; right: 5%;background-color: #fff; color: #000; width: 15%; height: 12%;"><span>Add</span></button>
                            <p class="cancel_f" >cancel</p>  
              </div>  
          </form>
          

<!-- end ADD exam-->



    <div class="card mb-4" >
      <div class="btn-group btn-group-justified" style="height: 45px; text-align: center;" id="show_button">
          <a class="enviaPedido btn btn-sm"  onclick="first()">
            <span class="visible-xs-block">Syllabus</span>
            <span class="hidden-xs">Syllabus</span></a>
          <a class="enviaPedido btn btn-sm"   onclick="second()">
            <span class="visible-xs-block">Assignment</span>
            <span class="hidden-xs">Assignment</span></a>
          <a class="enviaPedido btn btn-sm"   onclick="three()">
            <span class="visible-xs-block">Quiz</span>
            <span class="hidden-xs">Quiz</span></a>
          <a class="enviaPedido btn btn-sm"   onclick="four()">
            <span class="visible-xs-block">Mid</span>
            <span class="hidden-xs">Mid</span></a>
          <a class="enviaPedido btn btn-sm"   onclick="five()">
            <span class="visible-xs-block">Final</span>
            <span class="hidden-xs">Final</span></a>
          <a class="enviaPedido btn btn-sm"   onclick="six()">
            <span class="visible-xs-block">FeedBack</span>
            <span class="hidden-xs">FeedBack</span></a>
  </div>  
      <div class="card-body">
              <h2 class="card-title" id="title">Click on any tab to view resources</h2>
                  <div id="myfirst">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 1 %}
                          <p id="tex"><b>Professor FileName Year Term Download</p>
                          </b><p id="first">{{ exam.course.name }}</p> <p id="second">{{ exam.file.name }}</p> <p id="third">{{ exam.created_at | timesince}} ago </p>
                          <p id="forth">{{ exam.created_at | timesince}} ago</p>
                          <p id="fifth"> <a href="{% url "courses:download_course" name=exam.file.name %}">Download File</a></p><br>
                          
                        {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mysecond">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 2 %}
                          <p id="tex"><b>Professor FileName Year Term Download</p>
                          </b><p id="first">{{ exam.course.name }}</p> <p id="second">{{ exam.file.name }}</p> <p id="third">{{ exam.created_at | timesince}} ago </p>
                          <p id="forth">{{ exam.created_at | timesince}} ago</p>
                          <p id="fifth"> <a href="{% url "courses:download_course" name=exam.file.name %}">Download File</a></p><br>
                          
                        {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mythree">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 3 %}
                            <p id="tex"><b>Professor FileName Year Term Download</p>
                          </b><p id="first">{{ exam.course.name }}</p> <p id="second">{{ exam.file.name }}</p> <p id="third">{{ exam.created_at | timesince}} ago </p>
                          <p id="forth">{{ exam.created_at | timesince}} ago</p>
                          <p id="fifth"> <a href="{% url "courses:download_course" name=exam.file.name %}">Download File</a></p><br>
                          
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="myfour">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 4 %}
                            <p id="tex"><b>Professor FileName Year Term Download</p>
                          </b><p id="first">{{ exam.course.name }}</p> <p id="second">{{ exam.file.name }}</p> <p id="third">{{ exam.created_at | timesince}} ago </p>
                          <p id="forth">{{ exam.created_at | timesince}} ago</p>
                          <p id="fifth"> <a href="{% url "courses:download_course" name=exam.file.name %}">Download File</a></p><br>
                          
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="myfive">
                      {% for exam in exam_list %}
                        {% if exam.exam_type == 5 %}
                            <p id="tex"><b>Professor FileName Year Term Download</p>
                          </b><p id="first">{{ exam.course.name }}</p> <p id="second">{{ exam.file.name }}</p> <p id="third">{{ exam.created_at | timesince}} ago </p>
                          <p id="forth">{{ exam.created_at | timesince}} ago</p>
                          <p id="fifth"> <a href="{% url "courses:download_course" name=exam.file.name %}">Download File</a></p><br>
                          
                          {% endif %}
                      {% endfor %}
                  </div>
                  <div id="mysix">
                      {% for feedback in feedback_list %}
                      <p>content: {{ feedback.content }} </p><br>
                      <p>Grade: {{ feedback.grade }} <br>
                      Created at: {{ feedback.created_at | timesince}} ago </p><br>
                      <br>

                          
                      {% endfor %}
                  </div>
                </div>
                <div class="card-footer text-muted">Posted on January 1, 2017 by</div>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.js" ></script>
    <script src="{% static 'js/course_js.js'%}" ></script>

  {% endblock %}