

/* The Modal (background) */
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#mainNav .navbar-brand{
	color:#f14d49;
	font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}
.modal-dialog {
    margin: 0px 12px 150px 12px;
}
.text-center  h5{
    color:#118c8b;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.modal-body a{
    color:#343A40;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


