#login-form img, #forgotten-container img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  color: white;
}


/* Login container */
#login-form{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 29%;
  height: 40%;
  border-radius: 8px;
  box-shadow: 1px 1px 50px #000;
  display: none;
  background: #F5F3EE;
  opacity: 0.95;
  padding-top: 7px;
  padding-bottom: 5px;
}

.close-btn{
  position: absolute;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  color: white
  border-radius: 10px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover{
  opacity: .5;
  color:white;
}

/* Heading */
#login-form h1{
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 2.5vw;
  color: #495e7b;
  text-shadow: 3px 3px 10px #fff;
}

/* Inputs */
form input{
  font-family: 'Helvetica,Arial', sans-serif;
  text-decoration: none;
  position: all;
  width: 70%;
  top:20px;
  display: block;
  margin: 10px auto;
  font-size: 1.4vw;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  opacity: 0.8;
  background: #495e7b;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

form input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background:  rgba(255, 255, 255, 0.9);
  color: black;
}
.button {
  font-family: Helvetica,Arial, sans-serif;
  text-decoration: none;
  position: all;
  width: 26%;
  height: 33px;
  top:20px;
  display: block;
  margin: 10px auto;
  font-size: 1.45vw;
  color: #fff;
  padding: 8px;
  padding-bottom: 4px;
  border-radius: 6px;
  border: none;
  background: #495e7b;
  opacity: 0.8;

  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  }
:-ms-input-placeholder {  
   color: #333;  }

/* Link */
form a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  color: #495e7b;
  font-size: 15px;
  background: rgba(107,255,3,0.3);
}

form a:hover{
  opacity: 0.7;
}

#remember-container{
  position: relative;
  margin: 5px 20px;
}

.checkbox {
  position: all;
  cursor: pointer;
	-webkit-appearance: none;
	padding: 0px;
	border-radius: 4px;
  background: #495e7b;
	display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    background: #495e7b;
      position: all;


}

.checkbox:checked {
  background: #495e7b;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
	color: #fff;
    position: all;

}

.checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: 9px;
	left: 4px;
	color: #fff;
}

#remember{
  position: absolute;
  font-size: 1vw;
  font-family: 'Hind', sans-serif;
  color: #495e7b;
  top: 7px;
  left: 20px;
}
#forgotten-container h1{
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 2vw;
  color: #495e7b;
  text-shadow: 3px 3px 10px #fff;
}
#forgotten{
  position: absolute;
  font-size: 1vw;
  font-family: 'Hind', sans-serif;
  color: #495e7b;
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#forgotten:hover{
  font-size: 1.5vw;
}

#forgotten-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 25%;
  height: 30%;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 1px 50px #000;
  display: none;
}
