.container h5{
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#118c8b;
}
.container textarea {<!--from  w  w w  . ja  v  a 2s .c  om-->
  border-radius: 3px 3px 3px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px 2px #343A40;
  margin-bottom: 5px;
}

.container textarea:focus {
  box-shadow: 0 0 8px 5px silver;
  outline: 0;
}
.container i {
  color:#E65652;
  margin-left: 5px;
  margin-right: 10px;
}
.container button {
    background-color: #E65652; /* Green */
    border-radius: 7px;
    color: white;
    padding: 5px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.container button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#question_detail a{
  color:#343A40;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
#question_detail a:hover{
  color:#E65652;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;

}
#question_detail p{
  color:#343A40;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;

}
#id_content {
  border-style: outset;
  border-radius: 10px;
}
.question_specific a{
  width: 450px;

}

