#ask{
  margin-left: 150px;
  border-style: outset;
  border-radius: 5px;
  margin-right: 90px;
  margin-bottom: 3px;
  padding-top: 2px;
  text-align: center;
  padding-left: 10px;
  width: 75%;
}
#ask button{
  margin-left: 295px;
}
.question_specific a{
  width: 450px;

}
h2{
  text-align: center;
  border: 2px solid;
  border-style: outset;
  color: white;
background-color: #343A40;
height: 52px;
padding: 3px;
margin-right: 90px;
margin-left: 150px;
width: 75%
  }

#questions{
	margin-left: 150px;
	border-style: outset;
	border-radius: 8px;
	margin-right: 90px;
	/*width: 75%;*/
	text-align: center;
	background-color: #343A40;
	/*background-color: #48499A;*/
	color: white;
  width: 75%;
}

#q_info{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  box-shadow: 1px 1px 50px #000;
  display: none;
  background: #fff;
  z-index: 1;
  opacity: .95;
  border-style: outset;
  background-color: red;
}
#q_info h1{
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  color: #495e7b;
  text-shadow: 3px 3px 10px #fff;
}
.cancel {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
    position: absolute;
  width: 15%;
  height: 12%;
  top:80%;
  right: 10%;
  display: block;
  margin: 10px auto;
  font-size: 1.2vw;
  color: #495e7b;
  padding: 15px;
  border-radius: 6px;
  border: none;
  background: #fff;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #343A40;

}

.cancel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cancel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.cancel:hover span {
  padding-right: 25px;
}

.cancel:hover span:after {
  opacity: 1;
  right: 0;
}
@media (max-width: 800px) {
  #questions{
    background-color: brown;
    margin-left: 50px;
  }
  h2{
    margin-left: 50px;
  }
  #ask{
    margin-left: 50px;
  }
  #ask button{
    margin-left: 100px;
  }

  }
@media (max-width: 500px) {
  #questions{
    background-color: ;
    margin-left: 50px;
  }
  h2{
    margin-left: 50px;
  }
  #ask{
    margin-left: 50px;
  }
  #ask button{
    margin-left: 100px;
  }

  }
  @media (max-width: 300px) {
  #questions{
    background-color: ;
    margin-left: 50px;
  }
  h2{
    margin-left: 50px;
    font-size: 7.0vw
  }
  #ask{
    margin-left: 50px;
  }
  #ask button{
    margin-left: 50px;
    height: 30px;
    width: 150px;
  }
  
  }


