.container-full{
    left: 18%;
    position: relative;
}
.btn-group .button {
    background-color: #495e7b; /* Green */
    color: white;
    text-align: center;
    font-size: 1.2vw;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 12px 37.2px;
    border: 0.5px solid white;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;

}

.btn-group .button:hover {
    background-color: #343A40;
}
.btn-group .btn {
  display: inline-block;
  padding: 10px 21px;
  font-size: 1.2vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #343A40;
  background-color: #fff;
  border: none;
  box-shadow: 0 5px #999;
  border: 1px solid #495e7b;
  font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;

}

.btn-group .btn:hover {
    background-color: #495e7b;
    color:white;
}


/* add exams form style */
#syllabuses, #assignments, #quizes, #midterms, #finals{
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 600%;
  border-radius: 5px;
  box-shadow: 1px 1px 50px #000;
  display: none;
  background: #fff;
  z-index: 1;
        opacity: .95;


}
#syllabuses h1, #assignments h1, #quizes h1, #midterms h1, #finals h1{
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 2.5vw;
  color: #495e7b;
  text-shadow: 3px 3px 10px #fff;
}

/*это пока не используется но он нужен
*/
#syllabuses .chosen-teacher{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-radius: 5px;
  background-color: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;

}



/* feedback form style*/
#feedbacks{
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70%;
  height: 750%;
  border-radius: 5px;
  box-shadow: 1px 1px 50px #000;
  display: none;
  background: #495e7b;
  z-index: 1;
        opacity: .95;


}
#feedbacks h1{
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 5px;
  text-align: center;
  font-size: 2vw;
  color: #fff;
  text-shadow: 3px 3px 10px #fff;
}
#feedbacks .chosen-teacher{
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-radius: 5px;
  background-color: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 1;

}


#create {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: absolute;
  width: 15%;
  height: 15%;
  top:65%;
  right: 5%;
  display: block;
  margin: 10px auto;
  font-size: 1.2vw;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #495e7b;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/*add exam and feedback form style*/
#create span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#create span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

#create:hover span {
  padding-right: 25px;
}

#create:hover span:after {
  opacity: 1;
  right: 0;
}

/*close javascript add exam form style*/
.cancel {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
    position: absolute;
  width: 15%;
  height: 15%;
  top:65%;
  right: 25%;
  display: block;
  margin: 10px auto;
  font-size: 1.2vw;
  color: #495e7b;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #fff;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.cancel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.cancel span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.cancel:hover span {
  padding-right: 25px;
}

.cancel:hover span:after {
  opacity: 1;
  right: 0;
}

/*//это чтобы все данные предметов были невидимы при первом запуске страницы
*/
#exam, #myfirst, #mysecond, #mythree, #myfour, #myfive, #mysix  {
      display: none;
    }
