{% extends 'base.html' %}
{% block content %}
{% load staticfiles%}
{% load index %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--  button add bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="container" id="internship">
  <h2>List of Internship</h2>
<div id="show_more">
                                                {% for internship in internship_list %}
                                                    <div class="list-group-item">
                                                        <div class="internship_detail" pk="{{ internship.pk }}">
                                                            <h4 class="list-group-item-heading">
                                                                <b>{{ internship.title }}</b></h4>
                                                            <img src="{% static 'img/logos/more_main.png' %}">
                                                            <p class="list-group-item-text">
                                                            <p>{{ internship.content | truncatechars:20 }}</p></p>
                                                            <i>{{ internship.created_at }}</i>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>


<div id="internship_info">

                                            <a href="#" class="list-group-item">
                                                <h4 class="list-group-item-heading" id="intern_title"><b>{{ internship_list.2.title }}</b>
                                                </h4>
                                                <img src="{% static 'img/logos/more_main.png' %}">
                                                <p class="list-group-item-text">
                                                <p id="intern_content">{{ internship_list.2.content }}</p></p>
                                                <i id="intern_created_at">{{ internship_list.2.created_at }}</i>
                                            </a>
                                            <p class="cancel" type="submit" style="vertical-align:middle">
                                                <span>cancel</span></p>
                                        </div>

<!--   collapse javascript and source to find my own js file. it should be defined first than another script source -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/internship.js'%}" ></script>
<!-- end -->

<!-- Custom scripts for this template -->
<script src="{% static 'js/agency.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link href="{% static 'css/internship_style.css' %}" rel="stylesheet">


<script>
    $(document).ready(function () {
        $(".internship_detail").click(function () {
            var pk = $(this).attr('pk');
            $.ajax({
                url: '/get_internship/',
                data: {
                    'internship_pk': pk
                },
                dataType: 'json',
                success: function (data) {
                    $('#intern_title').html('<b>'+data.title+'</b>');
                    $('#intern_content').html(data.content);
                    $('#intern_created_at').html(data.created_at);
                }
            });

        });
    });
  </script>

{% endblock %}
