{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  button add bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{% static 'css/question_style.css' %}" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>


<div id="form">
    <h2>List of Questions</h2>
</div>
<div>
<div id="ask">
    <form id="content"  method="POST" action="{% url "questions:main"%}">
        {% csrf_token %}
        <textarea id='id_content' name="content" required="" cols="40" maxlength="500" rows="10" placeholder="Write your Question"></textarea>
        <button id="create" type="submit" name="submit" value="Create Question" style="vertical-align:middle"><span>Add Question</span></button>
    </form>
</div>
<div id="questions">
{% for question in question_list %}
    <div class="question_specific" pk="{{ question.pk }}">
        <a href="{% url "questions:question" id=question.id %}">{{ question.content }}</a><br>
            {{ question.created_at | timesince }}
        <hr>
    </div>
    <div id="{{ question.pk }}" style="background-color: white; color: #343A40; border-radius: 6px;">
     <!-- <p>xfghghg</p>
                                            <p class="cancel" type="submit" style="vertical-align:middle">
                                                <span>cancel</span></p> -->
    </div>
{% endfor %}
</body>
</html>
{% endblock %}