<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <form method="POST" action="{% url "questions:main"%}">
        {% csrf_token %}
        {{ question_form.as_p }}
        <button id="create" type="submit" name="submit" value="Create Question" style="vertical-align:middle"><span>Add Question</span></button>
    </form>


{% for question in question_list %}
    <div class="question_specific" pk="{{ question.pk }}">
        <a href="{% url "questions:question" id=question.id %}">{{ question.content }}</a><br>
            {{ question.created_at | timesince }}
        <hr>
    </div>
    <div id="{{ question.pk }}" style="background-color: blue">
    </div>
{% endfor %}
</body>
</html>