{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <!-- Custom styles for this template -->
  <title>SDUDE coursepage</title>

  <!-- Bootstrap core CSS-->
  <link href="{% static 'v/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'v/vendor/jquery/3.1.1/jquery.min.js' %}"></script>
  <script src="{% static 'v/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Custom fonts for this template-->
  <link href="{% static 'v/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static 'v/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static 'c/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-chosen.css' %}" rel="stylesheet" />
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/"><h2>SDUDE</h2></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <br>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="select your course">
          <a class="nav-link" >

            <h6 style="color:#118c8b; font-family: 'Poppins', sans-serif;">Choose subject name</h6>
            <form class="form-inline my-2 my-lg-0 mr-lg-2" style="width: 440px;">

              <select class="chosen-select"  onchange="location = this.options[this.selectedIndex].value;">
                <option value="">---</option>
                {% for course in course_list %}
                <option value="/courses/{{ course.id }}">{{ course.name }}</option>
                {% endfor %}
              </select>
            </form>
          </a>
        </li>
        <li class="nav-item">
        <div class="modal-dialog" >
    <div class="modal-content">
    <div class="text-center">
      <h5>Latest Event</h5>
    </div>
      <div class="modal-body">

      </div>
      
      
        
      
    </div>
  </div>  

        </li>
        
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 

            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning"><span class="notification_count">0</span> New</span>
            </span>
            <span class="indicator d-none d-lg-block notification_count" style="margin-left: 3px; color: #f14d49; font-size: 1.2vw; font-weight: bold;">
              0
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>


            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="modal" data-target="#change_passw">Change Password
          <i class="fa fa-lock"></i>
        </a>
      </li>
          <li class="nav-item">username: {{ username }}</li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--     password detail with javascript -->
  <form method="POST" action="/main/" >
    <div class="modal fade" id="change_passw" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal">
          <div class="modal-header">
            <h5 class="modal-title" >change password</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">  
            {% csrf_token %}
            <div class="form-group">
              <div class="input-group">
              <input type="password" class="form-control" name="old_password" autofocus
              required id="id_old_password" placeholder="old password"/>
             </div>
           </div>
           <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" name="new_password1" autofocus
              required id="id_new_password1"  placeholder="new password"/> 
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" name="new_password2" autofocus
              required id="id_new_password2"  placeholder="confirm password"/>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <button id="change_pass" class="btn btn-success btn-lg" type="submit" value="Change Password">change</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>


<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    {% block content %}

    {% endblock%}     
  </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->

<!-- /.container-fluid-->
<!-- /.content-wrapper-->
<footer class="sticky-footer">
  <div class="container">
    <div class="text-center">
      <small>Copyright © Your Website 2018</small>
    </div>
  </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</div>
    
    

    <script src="{% static 'v/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'v/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'v/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static 'v/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'v/vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'v/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'j/js/sb-admin.min.js' %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static 'j/js/sb-admin-datatables.min.js' %}"></script>
    <script src="{% static 'j/js/sb-admin-charts.min.js' %}"></script>

    
<script src="https:/

/code.jquery.com/jquery-migrate-3.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.6.2/chosen.jquery.js" ></script>


    <script src="{% static 'js/base_js.js' %}"></script>
<script>
  Notification.requestPermission();
</script>
<script>
  var notification_count = 0;
  var first_visit = true;
  $(document).ready(function () {
    get_notification_update();
    get_log_update();
    setInterval(get_notification_update, 10000);
    setInterval(get_log_update, 10000);
  });

  function get_notification_update() {
    $.ajax({
      url: '/questions/notification_update',
      data: {
      },
      dataType: 'json',
      success: function (data) {
        var len = data.length
        if (len > 0) {
            $('.notification_count').html('');
            $('.notification_count').html('' + len);
            console.log(first_visit);
            $('.dropdown-menu').html('');
            $('.dropdown-menu').html('<h6 class="dropdown-header">New Alerts:</h6>');
            for (var j = 0; j < len; j++) {
                $('.dropdown-menu').append('<div class="dropdown-divider"></div>');
                
                $('.dropdown-menu').append('<span class="text-success"><strong><i class="fa fa-long-arrow-up fa-fw"></i>Notification:</strong></span>');
                $('.dropdown-menu').append('<a style="color:#343A40;" href="/questions/notification/delete/'+ data[j].notification_id + '/"><div class="dropdown-message small">Someone answered your questions: ' + data[j].question + '</div></a>');

          }

            
          if(!first_visit){
                console.log("not_count: " + notification_count);
                console.log("len: " + len);
                console.log("----------");
            for (var i = notification_count; i < len; i++) {
              data1 = {
                msg: data[i].question
              };
              var e = new Notification("Hey, someone answered your question.", {
                body: data1.msg,
                icon: "https://cn.pling.com/cache/85x85-crop/img/5/9/6/b/878c3fe5a7eef2d6766dd3532e3773501ae9.png"
              });
              e.onclick = function () {
                location.href = ("http://127.0.0.1:8000/questions/question/%d/", data[i].id);
                e.close();
              }
            }
            notification_count = len;
          }
          else{
            first_visit = false;
          notification_count = len;
        }
            $('.dropdown-menu').append('<div class="dropdown-divider"></div>');
            $('.dropdown-menu').append('<a class="dropdown-item small"  href="/questions/notifications"><h6>View all alerts</h6></a>');
      }
    }});
  }

  function get_log_update() {
    $.ajax({
      url: '/questions/log_update',
      data: {
      },
      dataType: 'json',
      success: function (data) {
        var len = data.length
        if (len > 0) {
            {#alert(len);#}
            $('.modal-body').html('');
            for (var j = 0; j < len; j++) {
            $('.modal-body').append('<div class="dropdown-divider"></div>');
            if(data[j].log_type == 4){
                $('.modal-body').append('<a href="/questions/">' + 'New question has been added' + '</a>');
            }
            else if(data[j].log_type == 2){
                $('.modal-body').append('<a href="/internship/">' + 'New internship has been added' + '</a>');
            }
            else if(data[j].log_type == 1){
                $('.modal-body').append('<a href="/courses/' + data[j].log_ref + '">' + 'New exam has been added' + '</a>');
            }
            else if(data[j].log_type == 3){
                $('.modal-body').append('<a href="#">' + 'New feedback has been added' + '</a>');
            }
            var millis = Date.parse(data[j].log_time);
            var myDate = new Date(millis).toDateString();
            var myTime = new Date(millis).toLocaleTimeString()


            $('.modal-body').append('<div class="text-right" style="font-size: 8px; font-weight: bold;">' + myDate + ' ' + myTime + '</div>');
            }
          }
      }
    });
  }
</script>
</body>

</html>
