{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<!--  button add bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="container-fluid">
        <div class="row">   
                    
                    <div class="col-sm-7" >
                        <br>

                        <div id="top_questions" >

                            <div class="panel-group" style="border-style: outset; border: 2px solid silver; margin-top: 20px; padding:20px 20px 20px 20px; background-color: #f7f7f7; border-radius: 5px;">
                                                                            <h4 class="card-title" id="title" >LAST questions</h4>

                                {% for question in top_questions %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a  href="/questions/question/{{ question.pk }}" 
                                                   pk="{{ question.pk }}"
                                                   ord="{{ forloop.counter }}"><i class="fa fa-question-circle" style="font-size:24px"></i>

 {{ question.content }}</a>
                                            </h5>
                                        </div>
                                        
                                    </div>
                                {% endfor %}
                                                                    <br>

                                <a href='{% url "questions:main" %}' class="list-group-item" id="view_q">
                                        <h5>View All Questions</h5>
                                    </a>
                            </div>
                        </div>
                        <br>
                        
                    </div>

        <div class="col-sm-5" >
                        <div class="form-group">
                            <div class="right">
                                <div id="internship" >


                                    <div class="list-group" style="margin-left: 50px; margin-right: 50px;">
                                        <a href="#" class="list-group-item" style="background-color: #118c8b;
                                         border-radius: 5px 5px 0px 0px;">
                                            <h5 id="intern_title_one">Internship</h5>
                                        </a>
                                        <div data-toggle="modal" data-target="#internship_new" style="border: 1px solid silver;">
                                            {% for internship in internship_list %}
                                                <div class="list-group-item" style=" background-color: #f7f7f7;">
                                                    <div class="internship_detail" pk="{{ internship.pk }}">
                                                        <h5 > 
                                                            {{ internship.title }} </h5>
                                                    
                                                
                                                        <h6>{{ internship.content | truncatechars:20 }} </h6><br>
                                                        <div class="text-right" style="font-size: 8px; font-weight: bold;">{{ internship.created_at }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <a href='{% url "internship:main" %}' class="list-group-item" id="view_q">
                                        <h5>View All Intership</h5>
                                    </a>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
</div>
                                    
                                    
                    
                                    <!--             internship detail with javascript -->
<form  method="post" action="/" >
<div class="modal fade" id="internship_new" tabindex="-1" role="dialog"  aria-hidden="true" style="margin-top: 100px;">
  <div class="modal-dialog" role="document">
<div id="modal-content">
      <div class="modal-header" style="background-color: #222222;">
        <h5 class="modal-title" id="intern_title" style="color: #fff;">{{ internship_list.title }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
  <div class="modal-body">
        <h4  id="intern_content">
         {{ internship_list.content }}
         </h4>
  </div>
  <div class="modal-footer">           
          <h6 class="text-right" id="intern_created_at">{{ internship_list.created_at }}</h6>

        </div>
</div>
      </div>


  </div>
</div>

</form>

                                


                                </div>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            </form>
        </div>
    </div>
    </div>





<!--   collapse javascript and source to find my own js file. it should be defined first than another script source -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/mainpage.js' %}"></script>
<!-- end -->


<!-- Custom scripts for this template -->
<!-- <script src="{% static 'js/agency.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

<script>
$(document).ready(function () {
    $(".internship_detail").click(function () {
        var pk = $(this).attr('pk');
        $.ajax({
            url: '/get_internship/',
            data: {
                'internship_pk': pk
            },
            dataType: 'json',
            success: function (data) {
                $('#intern_title').html('<b>'+data.title+'</b>');
                $('#intern_content').html(data.content);
                $('#intern_created_at').html(data.created_at);
            }
        });

    });
});
</script>

<link href="{% static 'css/main_style.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    


    $(document).ready(function () {
        $(".top_question").click(function () {
            var pk = $(this).attr('pk');
            var ord = $(this).attr('ord');

            $.ajax({
                url: '/top_answer/',
                data: {
                    'question_pk': pk
                },
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#test'+ ord).html('');
                        $('#test' + ord).append('<div class="panel-body">' + data[0].content + '</div>');
                        if(data.length == 2){
                            $('#test' + ord).append('<div class="panel-footer">' + data[1].content + '</div>');
                        }
                    }
                }
            });

        });
    });
</script>


{% endblock %}