{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<!--  button add bootstrap -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <div class="container-fluid">
        <div class="row">   
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-6" style="border-style: outset; border: 2px solid silver; margin-top: 50px;margin-bottom: 100px; background-color: #343A40;">
                        <br>
                        <h3 class="card-title" id="title" style="border-style: outset;">LAST questions</h3>

                        <div id="top_questions">
                            <div class="panel-group">
                                {% for question in top_questions %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h5 class="panel-title">
                                                <a data-toggle="collapse" href="#test{{ forloop.counter }}" class="top_question"
                                                   pk="{{ question.pk }}"
                                                   ord="{{ forloop.counter }}"><i class="fa fa-question-circle" style="font-size:24px"></i>

 {{ question.content }}</a>
                                            </h5>
                                        </div>
                                        <div id="test{{ forloop.counter }}" class="panel-collapse collapse">
                                            
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <a href='{% url "questions:main" %}' class="list-group-item" id="view_q">
                                        <h5>View All Questions</h5>
                                    </a>
                    </div>
                    <div class="col-sm-1" >
                    </div>
        <div class="col-sm-4" >
                        <div class="form-group">
                            <div class="right">
                                <div id="internship">


                                    <div class="list-group">
                                        <a href="#" class="list-group-item" style="background-color: #4a4e69;
                                        border: 3px solid silver;">
                                            <h3>Internship</h3>
                                        </a>
                                        <div data-toggle="modal" data-target="#internship_new">
                                            {% for internship in internship_list %}
                                                <div class="list-group-item">
                                                    <div class="internship_detail" pk="{{ internship.pk }}">
                                                        <h5 class="list-group-item-heading"> 
                                                            {{ internship.title }} </h5>
                                                    
                                                
                                                        {{ internship.content | truncatechars:20 }} <br>
                                                        <div class="text-right" style="font-size: 8px; ">{{ internship.created_at }}</div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <a href='{% url "internship:main" %}' class="list-group-item" id="view_in">
                                        <h5>View All Intership</h5>
                                    </a>
                                        </div>
                                        </div>

                                    
                                    
                    
                                    <!--             internship detail with javascript -->
<form  method="post" action="/" >
<div class="modal fade" id="internship_new" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
<div id="modal-content">
      <div class="modal-header" style="background-color: #222222;">
        <h5 class="modal-title" id="intern_title" style="color: #fff;">{{ internship_list.title }}</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
  <div class="modal-body">
        <h4  id="intern_content">
         {{ internship_list.content }}
         </h4>
  </div>
  <div class="modal-footer">           
          <h6 class="text-right" id="intern_created_at">{{ internship_list.created_at }}</h6>

        </div>
</div>
      </div>


  </div>
</div>

</form>

                                


                                </div>
                            </div>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            </form>
        </div>
    </div>
    </div>





<!--   collapse javascript and source to find my own js file. it should be defined first than another script source -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/mainpage.js' %}"></script>
<!-- end -->


<!-- Custom scripts for this template -->
<!-- <script src="{% static 'js/agency.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

<script>
$(document).ready(function () {
    $(".internship_detail").click(function () {
        var pk = $(this).attr('pk');
        $.ajax({
            url: '/get_internship/',
            data: {
                'internship_pk': pk
            },
            dataType: 'json',
            success: function (data) {
                $('#intern_title').html('<b>'+data.title+'</b>');
                $('#intern_content').html(data.content);
                $('#intern_created_at').html(data.created_at);
            }
        });

    });
});
</script>

<link href="{% static 'css/main_style.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    


    $(document).ready(function () {
        $(".top_question").click(function () {
            var pk = $(this).attr('pk');
            var ord = $(this).attr('ord');

            $.ajax({
                url: '/top_answer/',
                data: {
                    'question_pk': pk
                },
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $('#test'+ ord).html('');
                        $('#test' + ord).append('<div class="panel-body">' + data[0].content + '</div>');
                        if(data.length == 2){
                            $('#test' + ord).append('<div class="panel-footer">' + data[1].content + '</div>');
                        }
                    }
                }
            });

        });
    });
</script>


{% endblock %}